.carousel-wrap {
  flex: 1;
  position: relative;
  overflow: hidden;
  min-height: 480px;
}

.c-card {
  position: absolute;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
  border-radius: 1px;
}
